.navbar {
  width: 100vw;
  height: 72px;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.userNav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoutBtn {
  height: fit-content;
}
