.navbar {
  width: 100vw;
  height: 56px;
  padding: 8px 32px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
  z-index: 1;
}

.icons {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
}

.navIcon {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.navIcon:hover {
  filter: invert(27%) sepia(76%) saturate(3664%) hue-rotate(194deg)
    brightness(97%) contrast(98%);
  border-color: transparent;
}

.navIcon:focus {
  outline: none;
}

.vl {
  border-left: 2px solid rgb(180, 180, 180);
  height: 38px;
}

.notificationsIcon {
  position: relative;
}
