.navbar {
  width: 100vw;
  height: 72px;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 131, 131);
  display: flex;
  justify-content: space-between;
}

.userNav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoutBtn {
  height: fit-content;
}
