.navbar {
  width: 100%;
  height: 56px;
  padding: 8px 32px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
  z-index: 1;
}

.navbarContent {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
}

.navIcon {
  background-color: transparent;
  padding: 0;
  height: 32px;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIcon:hover {
  filter: invert(27%) sepia(76%) saturate(3664%) hue-rotate(194deg)
    brightness(97%) contrast(98%);
  border-color: transparent;
}

.navIcon:focus {
  outline: none;
}

.friendsIcon,
.savedIcon,
.hidden {
  display: none;
}

.vl {
  border-left: 2px solid rgb(180, 180, 180);
  height: 38px;
}

.notificationsCountRelative {
  position: relative;
}

.notificationsCount,
.newMessagesCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  background-color: red;
  color: #fff;
  font-size: 0.7em;
  border-radius: 50%;
  z-index: 1;
  top: 0;
  right: 20%;
}

@media (max-width: 1040px) {
  .logo {
    display: none;
  }

  .friendsIcon,
  .savedIcon,
  .hidden {
    display: inline-block;
  }

  .navbarContent {
    justify-content: center;
  }

  .icons {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .navbar {
    padding: 8px;
  }
}
