.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
  border: 1px solid rgb(218, 218, 218);
  position: absolute;
  top: 52px;
  right: 64px;
}

.header {
  margin: 0 0 8px 0;
  padding: 0 8px;
}

.notificationLink {
  padding: 8px;
  border-radius: 5px;
}

.notificationLink:hover {
  background-color: rgb(195, 213, 250);
  cursor: pointer;
}
