#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.navbarOffset {
  height: 56px;
}

button {
  background-color: #0275d8;
  color: #fff;
  height: 32px;
  padding: 6px 16px;
}

@media (max-width: 640px) {
  #root {
    padding: 0 8px;
  }
}
