#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.navbarOffset {
  height: 56px;
}

button {
  background-color: #0275d8;
  color: #fff;
  padding: 6px 16px;
}
