.chats {
  background-color: #fff;
  height: calc(100vh - 56px);
  width: 360px;
  position: fixed;
  top: 56px;
  left: 0;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.chatsHeader {
  height: 54px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.scroll {
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

.selectChat {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  cursor: pointer;
}

.selectChat:hover {
  background-color: #ebebeb;
}

.newChat {
  background-color: transparent;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.newChat:hover {
  border-color: transparent;
  filter: invert(35%) sepia(47%) saturate(6894%) hue-rotate(193deg)
    brightness(95%) contrast(98%);
}

.newChat:focus {
  outline: none;
}

@media (max-width: 1040px) {
  .chats {
    height: auto;
    width: 100%;
    position: static;
  }
}
