.msgContainer {
  width: fit-content;
  max-width: 40%;
}

.bubble {
  padding: 8px;
  border-radius: 16px;
  text-align: left;
}

.friendsMsg {
  align-self: flex-start;
  display: flex;
  gap: 8px;
}

.profilePic {
  padding-bottom: 5px;
  align-self: flex-end;
}

.ownMsg {
  align-self: flex-end;
}

.ownBubble {
  background-color: #90a4fa;
}

.friendBubble {
  width: calc(100% - 32px);

  background-color: #dddddd;
}

.content {
  margin: 0;
  word-wrap: break-word;
}
