.messenger {
  background-color: #fff;
  height: calc(100dvh - 88px);
  flex-grow: 1;
  max-width: calc(100vw - 360px - 32px);
  margin: 16px -16px 16px 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.messengerHeader {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.messengerContent {
  height: calc(100% - 112px);
  max-width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.formCtnr {
  padding: 8px 16px;
  display: flex;
  gap: 8px;
}

.messageInput {
  padding: 8px;
  border-radius: 16px;
  border: none;
  flex-grow: 1;
  background-color: #f1f2f6;
}

.messageInput:focus {
  outline: none;
}

.sendMessage {
  background-color: transparent;
  padding: 0 4px;
  display: flex;
  align-items: center;
  filter: invert(35%) sepia(47%) saturate(6894%) hue-rotate(193deg)
    brightness(95%) contrast(98%);
}

.sendMessage:hover {
  border-color: transparent;
}

.sendMessage:focus {
  outline: none;
}

.disabled {
  background-color: transparent;
  padding: 0 4px;
  display: flex;
  align-items: center;
  filter: invert(95%) sepia(0%) saturate(4605%) hue-rotate(33deg)
    brightness(136%) contrast(62%);
}

.disabled:hover {
  border-color: transparent;
}

.chatSelectCtnr {
  height: calc(100% - 48px);
  overflow-y: scroll;
}

.chatSelect {
  padding: 16px;
  cursor: pointer;
}

.chatSelect:hover {
  background-color: #ebebeb;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.online {
  color: rgb(2, 184, 2);
}

@media (max-width: 1040px) {
  .messenger {
    height: calc(100dvh - 56px);
    flex-grow: 0;
    max-width: 100%;
    margin: 0;
  }
}
