.messenger {
  background-color: #fff;
  height: calc(100vh - 88px);
  flex-grow: 1;
  max-width: calc(100vw - 360px - 32px);
  margin: 16px -16px 16px 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.messengerHeader {
  height: 48px;
  padding: 16px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.messengerContent {
  height: calc(100% - 112px);
  max-width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.formCtnr {
  height: 64px;
  padding: 16px 16px;
  display: flex;
  gap: 16px;
}

.messageInput {
  flex-grow: 1;
}

.chatSelectCtnr {
  height: calc(100% - 48px);
  overflow-y: scroll;
}

.chatSelect {
  padding: 16px;
  cursor: pointer;
}

.chatSelect:hover {
  background-color: #ebebeb;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}
