.postContainer {
  background-color: antiquewhite;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
}

.authorAndDate {
  display: flex;
  align-items: center;
  gap: 16px;
}

.postButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin-right: 8px;
}

.postButton:hover {
  color: darkblue;
}
.postButton:focus {
  outline: none;
}
