.postContainer {
  background-color: #fff;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}

.postButton:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.postButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}

.postButton:focus {
  outline: none;
}

.emptyHeartIcon:hover {
  filter: invert(21%) sepia(50%) saturate(5569%) hue-rotate(352deg)
    brightness(89%) contrast(134%);
}

.fullHeartIcon {
  filter: invert(21%) sepia(50%) saturate(5569%) hue-rotate(352deg)
    brightness(89%) contrast(134%);
}

.fullHeartIcon:hover {
  filter: invert(69%) sepia(67%) saturate(247%) hue-rotate(302deg)
    brightness(93%) contrast(94%);
}

.likes {
  display: flex;
  margin-bottom: 16px;
}
