.postContainer {
  background-color: antiquewhite;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
}

.authorAndDate {
  display: flex;
  align-items: center;
  gap: 16px;
}

.postButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}

.postButton:focus {
  outline: none;
}

.emptyHeartIcon:hover {
  filter: invert(21%) sepia(50%) saturate(5569%) hue-rotate(352deg)
    brightness(89%) contrast(134%);
}

.fullHeartIcon {
  filter: invert(21%) sepia(50%) saturate(5569%) hue-rotate(352deg)
    brightness(89%) contrast(134%);
}

.likes {
  display: flex;
}
