.createPostContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.createPostForm {
  width: 100%;
}

.createPost {
  display: flex;
  gap: 8px;
}

.createPostInput {
  padding: 8px;
  border-radius: 16px;
  border: none;
  flex-grow: 1;
  background-color: #f1f2f6;
}

.createPostInput:focus {
  border: 1px solid grey;
  outline: none;
}
