.createPostContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.createPostForm {
  width: 100%;
}

.createPost {
  display: flex;
  align-items: center;
  gap: 8px;
}

.createPostInput {
  height: 40px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  flex-grow: 1;
  background-color: #f1f2f6;
  font-size: 1em;
}

.createPostInput:focus {
  outline: none;
}

.disabled {
  background-color: #cecece;
}

.disabled:hover {
  border-color: transparent;
}
