.dashboardDisplay {
  display: flex;
  gap: 24px;
  padding: 36px 0;
  max-width: 1440px;
  margin: auto;
}

.menuDisplay {
  flex: 0 0 320px;
}

.feedDisplay {
  flex-grow: 1;
}

.friendsDisplay {
  min-width: 320px;
}
