.dashboardDisplay {
  display: flex;
  gap: 24px;
  padding: 16px 0;
  max-width: 1440px;
  margin: auto;
}

.menuDisplay {
  flex: 0 0 320px;
}

.feedDisplay {
  width: 100%;
}

.friendsDisplay {
  min-width: 320px;
}

.sidebarFixed,
.friendsFixed {
  position: fixed;
  width: 320px;
}

@media (max-width: 1530px) {
  .menuDisplay {
    flex: 0 0 160px;
  }
  .sidebarFixed {
    width: 160px;
  }
}

@media (max-width: 992px) {
  .menuDisplay {
    display: none;
  }

  .friendsDisplay {
    display: none;
  }
}
