.profileContainer {
  padding: 36px 0;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  gap: 24px;
}

.infoDisplay {
  flex: 0 0 320px;
}

.postsDisplay {
  flex-grow: 1;
}

.friendsDisplay {
  flex: 0 0 320px;
}

.emptySpace {
  flex: 0 0 320px;
}

@media (max-width: 1530px) {
  .friendsDisplay {
    display: none;
  }

  .infoDisplay {
    flex: 0 0 0;
  }

  .profileContainer {
    flex-direction: column;
    max-width: 932px;
  }
}
