.commentForm {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.commentInput {
  padding: 8px;
  border-radius: 16px;
  border: none;
  flex-grow: 1;
  background-color: #f1f2f6;
}

.commentInput:focus {
  outline: none;
}

.commentSubmit {
  width: fit-content;
  margin-left: auto;
}
