.commentForm {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.commentInput {
  padding: 8px;
  border-radius: 16px;
  border: none;
  flex-grow: 1;
  background-color: #f1f2f6;
}

.commentInput:focus {
  outline: none;
}

.commentSubmit {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 4px;
  filter: invert(35%) sepia(47%) saturate(6894%) hue-rotate(193deg)
    brightness(95%) contrast(98%);
}

.commentSubmit:hover {
  border-color: transparent;
}

.commentSubmit:focus {
  outline: none;
}
