.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 8px;
}

.input {
  border-radius: 8px;
  border: 1px solid black;
  padding: 8px;
}

.btn {
  width: fit-content;
  align-self: center;
}

.dateContainer {
  display: flex;
  gap: 8px;
}

.day,
.month,
.year {
  height: 33px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #fff;
}

.day {
  flex-grow: 1;
}

.month {
  flex-grow: 1;
}

.year {
  flex-grow: 2;
}
