.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 8px;
}

.input {
  border-radius: 8px;
  border: 1px solid black;
  padding: 8px;
}

.btn {
  width: fit-content;
  align-self: center;
}
