.container {
  max-width: 440px;
  margin: auto;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  text-align-last: left;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.friendDisplay {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 16px 0;
  font-weight: bold;
}

.header {
  margin: 0;
  padding: 8px 0;
}

.avatar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.online {
  color: rgb(2, 189, 2);
}
