.container {
  max-width: 440px;
  margin: 0 auto 16px auto;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.requestPreviewDisplay {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 16px 0;
  font-weight: bold;
}

.header {
  margin: 0;
  padding: 8px 0;
}

.avatar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.accept,
.decline {
  padding: 2px 16px;
  height: auto;
}

.decline {
  background-color: rgb(216, 216, 216);
  color: black;
}
