.usersList {
  list-style: none;
  margin-bottom: 8px;
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-weight: bold;
}
