.usersList {
  max-width: 1440px;
  margin: auto;
  list-style: none;
  height: 64px;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.avatar {
  min-width: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usersList button {
  min-width: fit-content;
}
