.usersList {
  list-style: none;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.avatar {
  display: flex;
  gap: 8px;
  align-items: center;
}
