.container {
  max-width: 440px;
  margin: 0 auto 16px auto;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
}

.usersList {
  list-style: none;
  /* margin-bottom: 8px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 0 16px 0;
  font-weight: bold;
}

.header {
  margin: 0;
  /* padding: 8px 0; */
}

.avatar {
  min-width: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usersList button,
.usersList p {
  min-width: fit-content;
  padding: 6px 8px;
}
