.list {
  width: 100%;
}

.listItem {
  list-style: none;
  text-align: left;
  padding: 8px 8px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
}

.menuLink {
  color: #213547;
}

.listItem:hover {
  color: #213547;
  background-color: #e9e9e9;
}
