.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listItem {
  list-style: none;
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 8px;
}

.menuLink {
  color: #213547;
  width: 100%;
}

.menuItem:hover {
  color: #213547;
  background-color: #e9e9e9;
}
