.imgCircle {
  height: 48px;
  width: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid rgb(39, 49, 80);
}

.image {
  object-fit: cover;
  object-position: center;
}
