.uploadImgCtnr {
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uploadButtons {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
